<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <h1>
        <%= title %>
    </h1>

    <form action="/storejoke" method="post">
        <input type="text" name="joke" id="joke" />
        <button type="submit">Submit</button>
    </form>

    <a href="/">Back</a>
</body>

</html>