<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
 
</head>

<body>
  <h1>
    <%= title %>
  </h1>
  <p>Welcome 
    <%= username %>
  </p>
  <a href="/addjoke">Add new joke</a>
  <a href="/joke">Get random joke</a>
  <a href="/allJokes">See all jokes</a>
</body>

</html>